{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="bg-cover h-screen bg-[url('/assets/backgroundSymfony.png')]">
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
    
        <div class="mb-3 text-lime-700">Vous êtes connecter en tant que :  {{ app.user.userIdentifier }}</div>
        
        <a href="{{ path('app_logout') }}">Logout</a>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputEmail">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
    <label for="inputPassword">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    <button class="btn btn-lg btn-primary" type="submit">
        Sign in
    </button>

    
</form>
<a href="{{ path('app_inscription') }}" class="text-2xl cursor-pointer">Vous n'avez pas de compte ?</a>

</div>

{% endblock %}







{# 
       <div class="bg-cover max-h-full bg-[url('/assets/backgroundSymfony.png')]">

        <div class="flex justify-around items-center text-2xl text-lime-700 font-bold">
                <div class="flex flex-wrap justify-center">
                        <div class="w-1/6  px-4">
                        <img class="mt-5" src="assets/logo.png">
                        </div>
                </div>
        </div>


         <div class="flex justify-center gap-7 items-center my-10 text-2xl text-lime-700 font-bold">
        <p class="flex mt-5 text-4xl text-lime-700 font-bold">Profile</p>
        </div>

        <div class="flex justify-center gap-7 items-center my-10 text-2xl text-lime-700 font-bold">
        <p class="flex my-10 text-2xl text-lime-700 font-bold">Pseudo : </p>
                {{user.getUsername()}}
        </div>

        <div class="flex justify-center gap-7 items-center my-10 text-2xl text-lime-700 font-bold">
        <p class="flex my-10 text-2xl text-lime-700 font-bold">Email : </p>
                 {{user.getEmail()}}
        </div>

        <div class="flex justify-center gap-7 items-center my-10 text-2xl text-lime-700 font-bold">
        <p class="flex my-10 text-2xl text-lime-700 font-bold">Score : </p>
                {{user.getScore()}}
        </div>


        <div class="flex justify-center gap-7 items-center my-10 text-2xl text-lime-700 font-bold">
        <p class="flex my-10 text-2xl text-lime-700 font-bold">Date de création : </p>
                {{user.getcreatedAt()|date("d/m/Y")}}
        </div>


       </div> #}
       