
{% extends 'base.html.twig' %}
{% block body %}
<div class="bg-cover h-screen bg-[url('/assets/backgroundSymfony.png')]">
  <div class="flex justify-between items-center py-3" style="background-color:#C2FFCD"> 
    <a href="{{ path('app_home') }}" class="flex w-1/12 h-1/12 cursor-pointer">
      <img src="assets/logo.png" class="flex w-1/3 h-1/3 ml-4">
    </a>
    <a href="{{ path('app_home') }}" class="absolute text-2xl font-semibold ml-20 cursor-pointer ">Green Challenges</a>
    <a href="{{ path('app_challenge_list') }}" class="text-2xl mx-10">Défis</a>
    <a href="{{ path('app_scores') }}" class="text-2xl mx-10">Scores</a>
    {% if app.user %}
      <a href="{{ path('app_profile') }}" class="text-2xl cursor-pointer mx-10">{{ app.user.username }}</a>
    {% else %}
      <a href="{{ path('app_login') }}" class="text-2xl cursor-pointer mx-10">Connexion</a>
    {% endif %}
  </div>

  {% if app.user == '' %}
    <div class="flex flex-col mt-16 mx-auto justify-center">
      <h1 class="mx-auto">Connectez-vous pour pouvoir commencer à accomplir le défis !</h1>
      <div class="flex mt-10 mx-auto">
      <a type="submit" class="block mx-auto text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br dark:focus:ring-green-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">Commencer</a>
    </div>
    </div>
  {% endif %}

  {% if app.user %}
    <h1 class="flex justify-center text-3xl font-bold p-8">En cours ⏳</h1>
      {% if userChallenges %}
        {% for userChallenge in userChallenges %}
          <div class="flex justify-center items-center">
            <div class="flex justify-center bg-white shadow-md rounded-lg p-6 mb-6 w-2/3" style="background-color:#eeffef; border: 15px solid #99FFAC">
              <div class="flex justify-between items-center mb-4 w-full">
                <div class="w-1/3 text-center">
                  {{ userChallenge.challenge.getTitle() }}
                </div>
                <div class="w-1/3 text-center">
                  {{ userChallenge.challenge.getCategory() }}
                </div>
                <div class="w-1/3  text-center">
                  {{ userChallenge.challenge.getPoints() }}
                </div>
              </div>
              <div class="flex justify-center">
                <button type="button" class="text-gray-900 bg-gradient-to-r from-teal-200 to-lime-200 hover:bg-gradient-to-l hover:from-teal-200 hover:to-lime-200 focus:ring-4 focus:outline-none focus:ring-lime-200 dark:focus:ring-teal-700 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">Finish</button>
              </div>
            </div>
          </div>
      {% endfor %}
    {% endif %}
  {% endif %}

<h1 class="flex justify-center text-3xl font-bold p-8">Liste des défis 💪</h1>
  {% for challenge in challengeList %}
  <div class="flex justify-center items-center">
    <div class="flex justify-center bg-white shadow-md rounded-lg p-6 mb-6 w-2/3" style="background-color:#eeffef">
        <div class="flex justify-between items-center mb-4 w-full">
        <div class="w-1/3 text-center">
          {{ challenge.title }}<br>
        </div>
        <div class="w-1/3 text-center">
          {{ challenge.category }}<br>
        </div>
        <div class="w-1/3 text-center">
          {{ challenge.points }}<br>
        </div>
      </div>
    <br>
    {% if app.user %}
      <div class="flex justify-center">
        <button type="submit" class="text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br dark:focus:ring-green-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">
          <a href="{{ path('app_add_challenge', {'challenge_id': challenge.id}) }}">Commencer</a>
        </button>
      </div>
    {% endif %}
    </div><br>
  </div>
{% endfor %}

</div>

{% endblock %}
