{# 
{% for challenge in challengeList %}

<p>Pseudo : {{challenge.getTitle()}}</p>
<p>Points : {{challenge.getPoints()}}</p>
<p>Category : {{challenge.getCategory()}}</p>
<p>Date finale : {{challenge.getDeadline()|date("d/m/Y")}}
<p>----------------------------------------------</p>
{% endfor %} #}


{# {{ dump(challengeList) }} #}

{% for challenge in challengeList %}
<p>{{challenge|json_encode }}</p>

{% endfor %}
{# {% for challenge in challengeList %}
{{dump(challenge)}}<br> #}