
{% extends 'base.html.twig' %}
{% block body  %} 

        {# mettre le brackground avec une div qui prend toute la page #}
<div class="bg-cover h-screen bg-[url('/assets/backgroundSymfony.png')]">

      

       <div class="p-5 text-4xl text-lime-700 font-bold flex justify-center ">Détail du défi</div>


<div class =" text-lime-700   grid h-screen place-items-center  ">
<div>Titre :{{detailDefis.title}}</div>
<div>Description :{{detailDefis.description}}</div>
<div>Categorie :{{detailDefis.category}}</div>
<div>Sous-categorie :{{detailDefis.subcategory}}</div>
<div>Points :{{detailDefis.points}}</div>


<div class="">
 <a href="{{ path('app_challenge_list') }}"<button class="btn btn-lg btn-primary  bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 w-20 rounded  " type="submit">Retour</button></a>
</div>


</div>



{% endblock %}
