{# templates/profile/show.html.twig #}

{# {% extends 'base.html.twig' %}

{% block content %}
    <h1>Profil de {{ user.getUsername() }}</h1>
    <p>Email: {{ user.getEmail() }}</p>
    {# Affichez d'autres informations sur l'utilisateur ici #}
{# {% endblock %} } #}

{% extends 'base.html.twig' %}
{% block body  %} 

        {# mettre le brackground avec une div qui prend toute la page #}
        <div class="bg-cover h-screen bg-[url('/assets/backgroundSymfony.png')]">

    <div class="p-5">
         <a class="mr-10 text-lime-700 font-bold text-lg   w-20 text-lime-700 font-bold text-lg  flex bg-transparent border border-lime-700 rounded-lg focus:ring-blue-500 focus:border-blue-500 block  p-2.5" href="{{ path('app_logout') }}">Logout</a>
    </div>

        <div class="flex justify-around items-center text-2xl text-lime-700 font-bold">
                <div class="flex flex-wrap justify-center">
                        <div class="w-1/6  px-4">
                        <img class="mt-5" src="assets/logo.png">
                        </div>
                </div>
        </div>


         <div class="flex justify-center gap-7 items-center my-10 text-2xl text-lime-700 font-bold">
        <p class="flex mt-5 text-4xl text-lime-700 font-bold">Profile</p>
        </div>

        <div class="flex justify-center gap-7 items-center my-10 text-2xl text-lime-700 font-bold">
        <p class="flex my-10 text-2xl text-lime-700 font-bold">Pseudo : </p>
                {{user.getUsername()}}
        </div>

        <div class="flex justify-center gap-7 items-center mt-5 text-2xl text-lime-700 font-bold">
        <p class="flex  text-2xl text-lime-700 font-bold">Email : </p>
                 {{user.getEmail()}}
        </div>

        <div class="flex justify-center gap-7 items-center my-10 text-2xl text-lime-700 font-bold">
        <p class="flex my-10 text-2xl text-lime-700 font-bold">Score : </p>
                {{user.getScore()}}
        </div>


        <div class="flex justify-center gap-7 items-center mt-5 text-2xl text-lime-700 font-bold">
        <p class="flex  text-2xl text-lime-700 font-bold">Date de création : </p>
                {{user.getcreatedAt()|date("d/m/Y")}}
        </div>


       </div>
       

{# <a href="{{ path('app_inscription') }}" class="text-2xl cursor-pointer">Vous n'avez pas de compte ?</a> #}

{% endblock %}